.navbar{
	width: 15%;
	height: 100%;
	position: absolute;
	border-right: 1px solid grey;
}
a:visited{
	color:black;
}
.item:hover{
	background-color:red;
	cursor: pointer;
}
.item{
	border: 1px solid black;
	align-items: center;
	align-content: center;
	text-align: center;
	display: block;
	word-wrap: break-word;
}
h4{
	word-wrap: break-word;
}
